<div class="col-lg-3 col-sm-5 col-md-7 center-block">
    <h1>{{title}}</h1>

    <div class="alert alert-success" *ngIf="status=='success'">
        Registro completado correctamente, <a [routerLink]="'/login'">Identifícate aquí</a>
    </div>

    <div class="alert alert-danger" *ngIf="status=='error'">
        El registro no se ha completado, tal vez el nickname o email ya esté en uso. Inténtelo de nuevo.
    </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <p>
            <label>Nombre</label>
            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name">
            <span *ngIf="!name.valid && name.touched">
                      El nombre es obligatorio
                    </span>
        </p>
        <p>
            <label>Apellidos</label>
            <input type="text" name="surname" placeholder="Escribe apellidos" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required>
            <span *ngIf="!surname.valid && surname.touched">
                Los apellidos son obligatorios
              </span>
        </p>
        <p>
            <label>Nickname</label>
            <input type="text" name="username" #username="ngModel" [(ngModel)]="user.username" class="form-control" required>
            <span *ngIf="!username.valid && username.touched">
              El nickname es obligatorio
            </span>
        </p>
        <p>
            <label>Email</label>
            <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Enter email" required>
            <span *ngIf="!email.valid && email.touched">
            El correo es obligatorio
          </span>
        </p>
        <p>
            <input type="radio" value="propietario" name="rol" [(ngModel)]="user.rol" checked />
            <label>Propietario &nbsp; &nbsp;</label>
            <input type="radio" value="huesped" name="rol" [(ngModel)]="user.rol" />
            <label>Huesped</label>
        </p>


        <p>
            <label>Contraseña</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required>
            <span *ngIf="!password.valid">
                  La contraseña es obligatorio
                </span>
        </p>

        <input type="submit" value="{{title}}" class="btn btn-primary" [disabled]="!registerForm.form.valid" />

    </form>
</div>